.add_to_bucket {
  @include color_button(#FFFFFF, $red);

  line-height: 35px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;

  position: relative;
  &:before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    background: transparent image-url('cart_icon.png') no-repeat 35% 50%;
    left: 18%;
    top: 14%;
  }

  // TODO-1:: добавить иконку корзины

}