div.quantity_picker {

  > .caption {
    padding: 4px 0 0 0 !important;
  }

  > a {
    @include color_button(#FFFFFF, $red);
  }

  > input {
    @extend %HelveticaNeueCyrBold;
    width: 50px;
    text-align: center;
  }

  > * {
    display: inline-block;
    float: left;

    padding: 2px 11px !important;
    font-size: 17px !important;
    height: 29px !important;
    line-height: 24px !important;
    margin-right: 7px !important;

  }

}