.more_items_list {
 .will_paginate {
   text-align: center;

   > div.pagination {
     margin: 0 0 30px 0;

     a {
       display: none;

       &.next_page {
         display: inline-block;
         position: relative;
         width: 292px;
         height: 111px;
         color: transparent;

         &:after {
           content: ' ';
           display: block;
           position: absolute;
           top: 0;
           left: 0;
           width: 292px;
           height: 111px;
           background: transparent image_url('next_btn.png') no-repeat 0 0;
         }
       }

     }

     .previous_page {
       display: none;
     }

     span.next_page {
       display: none;
     }

     em.current {
       display: none;
     }
   }

 }
}